a {
	text-decoration: none !important;
	color: #000;
}
a:hover, a:active {
	text-decoration: none !important;
	color: #5fb11c;
}
.container {
	box-shadow: 0 0 35.2px 4.8px rgba(0, 0, 0, 0.35);
}
#content_title h2, #employee_name h2, #login_form h2{
	text-transform: uppercase;
	font-size: 22px;
}
/* Start header*/
#site_logo {
	font-size: 78px;
	font-family: arial;
	font-weight: bold;
}
#namber3 {
	color: #5fb11c;
}
ul#top_menu {
	font-size: 24px;
	padding-top: 30px;
}
ul#top_menu li {
	display: inline-block;
	margin-right: 60px;
	margin-left: -40px;
}
ul#top_menu li:last-child {
	margin-right: 10px;
}

.activeClass{
	color: #5fb11c;
	font-size: 39px;
}

a span.activeClassBrackets{
	color: #000;
	font-size: 32px;
}

a span.bracket {
	color: #5fb11c;
	font-size: 32px;
}
a:hover span.bracket {
	color: #000;
}
hr {
    border: none;
    background-color: #5fb11c;
    height: 5px;
}
/* End header*/


/* Start content block*/
#content_title {
	margin-left: 40px;
	padding-top: 20px;

}
#date_of_publication {
	color: #5fb11c;
}
#page_container {
	margin-bottom: 20px;
	background-color: #fbfbfb;
	border-left: 5px solid #5fb11c;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
/* End content block*/


/* Start right side block*/
#question {
	background-color: #fbfbfb;
	padding-top: 20px;
	padding-bottom: 20px;
}
#gear_ico {
	padding-top: 10px;
	padding-right: 10px;
}
#employee_name h2 a {
	padding-left: 20px;
}
ul#question_menu, ul#add_question {
	list-style-type: none;
}
ul#question_menu li {
	margin-bottom: 10px;
}
li#status_waiting {
	list-style-image: url("../images/status_waiting.png");
}
li#status_done {
	list-style-image: url("../images/status_done.png");
}
li#status_denied {
	list-style-image: url("../images/status_denied.png");
}
li#plus {
	list-style-image: url("../images/plus.png");
}
li#plus a, #all_questions a, #exit a, #registration a, #forgot_password a {
	color: #5fb11c;
}
#all_questions a {
	padding-left: 20px;
}
#login_form {
	background-color: #fbfbfb;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 20px;
}
form#login input,
textarea{
	width: 70%;
	border-color: #5fb11c;
}
#ger_forg {
	padding-top: 20px;
}
/* End right side block*/
#before a {
	float: right;
	font-weight: bold;
	font-size: 20px;
	color: #5fb11c;
}
ul#footer_menu {
	list-style-type: none;
}
ul#footer_menu li a {
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
}
#copyright {
	font-size: 20px;
}
#footer {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
	background-color: #eaeaea;
	padding-bottom: 40px; 
	padding-top: 40px;
}
@media only screen and (max-width: 480px) {
    ul#top_menu li a {
	font-size: 16px;
	}
	a span#bracket {
	font-size: 18px;
	}
}
@media only screen and (max-width: 640px) {
    ul#top_menu li a {
	font-size: 16px;
	}
	a span#bracket {
	font-size: 18px;
	}
}
@media only screen and (max-width: 1024px) {
    ul#top_menu li a {
	font-size: 16px;
	}
	a span#bracket {
	font-size: 18px;
	}
}

/*   Form   */
#formReg input {
	width: 50%;
	height: 30px;
	border-color: #5fb11c;
}

#formReg{
	font-size: 16px;
	padding-left: 7%;
}
/* Start registration form*/
.modalDialog {
	position: fixed;
	font-family: sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	word-break: break-all;
	width: 20%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	background: #EEEDE8;
	background: -moz-linear-gradient(#EEEDE8, #999);
	background: -webkit-linear-gradient(#EEEDE8, #999);
	background: -o-linear-gradient(#EEEDE8, #999);

}

.close {
	background: #606061;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #56ff55;
}

form#regForm input {
	width: 95%;
	border-color: #5fb11c;
}
/* End registration form*/
ul#top_menu li a span {
text-transform: uppercase;
}
button.translate{
	border-color: white;
	background-color: white;
	border-style: none;
}
button.translate:active {
	background-color: #c1e2b3;
}
/*Start contacts block*/
.nameinfo, .writeus{
	font-size: 20px;
}
textarea#sendMessage{
	text-indent: 5px;
	width: 75%;
	border-color: #5fb11c;
	border-width: 2px;
}
form#contactus input {
	width: 75%;
	border-color: #5fb11c;
	text-indent: 5px;
}
#map{
	padding-left: 30px;
	padding-top: 50px;
}
/*End contacts block*/
/* Start registration form*/
.modalDialog {
	position: fixed;
	font-family: sans-serif;
	top: -100px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	word-break: break-all;
	width: 25%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 20px 20px;
	border-radius: 5px;
	background: #EEEDE8;
	background: -moz-linear-gradient(#EEEDE8, #999);
	background: -webkit-linear-gradient(#EEEDE8, #999);
	background: -o-linear-gradient(#EEEDE8, #999);

}

.close {
	background: #606061;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #56ff55;
}

form#regForm input {
	width: 95%;
	border-color: #5fb11c;
}
/* End registration form*/
ul#top_menu li a span {
	text-transform: uppercase;
}
/*Start style for map*/
#map_canvas {
	padding-top: 50px;
	width: 100%;
	height: 450px;
}

.about_us_containner{
	text-align: justify;
}

/*End style for map*/

.buttonLang {
font-size: 85%;
}

.buttonLangBold {
	font-size: 105%;
	color: #00A000;
	font-weight: bold;
}
.bracketsLangBold {
	font-size: 110%;
	font-weight: bold;
	color: #2C2C2C;
}
.bracketsLang {
	color: #00A000;
}
/*   Form miss password   */


form#missForm input {
	width: 95%;
	border-color: #5fb11c;
}
form#newPass input {
	width: 95%;
	border-color: #5fb11c;
}
/* End miss password form*/

