<!DOCTYPE html>
<html lang="ua">
<%- include ../parts/head.ejs %>
<body>
<div class="container">
    <!-- Start header -->
    <%- include ../parts/header.ejs %>
    <!-- End header -->
    <section>
        <div class="row">
            <!-- Start article -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div id="page_container">
                    <div id="content_title">
                        <h2> <%= about_us %></h2>
                    </div>
                    <div id="page_content" class="about_us_containner">
                        <p><%= aboutUsStart %>
                        <ul>
                            <li><%= komo %></li>
                            <li><%= vikna %></li>
                            <li><%= alekseevka %></li>
                            <li><%= tano %></li>
                            <li><%= klub %></li>
                            <li><%= grand %></li>
                            <li><%= nicko %></li>
                            <li><%= wog %></li>
                        </ul>
                            <p><%= AboutUsEnd %></p>
                        </p>
                    </div>

            </div>
                <div id="page_container">
                    <div id="content_title">
                        <h2><%= examples %></h2>
                    </div>
                    <div id="page_content">
                        <a href="#" class="example">First</a>
                        <a href="#" class="example">Second</a>
                        <a href="#" class="example">Third</a>
                    </div>
                </div>
            </div>
            <!-- End article -->
            <!-- Start right side block -->
            <%- include ../parts/right_side.ejs %>
            <!-- End right side block -->

    </div>
   </section>
    <%- include ../parts/footer.ejs %>
</div>
</body>
</html>