<!DOCTYPE html>
<html lang="ua">
<%- include ../parts/head.ejs %>
<body>
<div class="container">
  <!-- Start header -->
  <%- include ../parts/header.ejs %>
  <!-- End header -->
  <section>
    <div class="row">
      <!-- Start article -->
      <article>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <form action="/addNewPageHandler" method="POST">
            <p>Заголовок статті<br>
              <input type="text" name="news_header" required /></p>
            <p>Псевдонім<br>
              <input type="text" name="alias" required /></p>
            <p>Опис статті (description) <br>
              <textarea name="description" rows="3" cols="70" required ></textarea></p>
            <p>Текст статті <br>
              <textarea name="news_text" rows="12" cols="70" required ></textarea></p>
            <p>Ключові слова <br>
              <textarea name="keywords" rows="1" cols="70" required ></textarea></p>
            <input type="submit" value="Send" />
          </form>
        </div>
      </article>
      <!-- End article -->
      <!-- Start right side block -->
      <%- include ../parts/right_side.ejs %>
      <!-- End right side block -->
    </div>

  </section>
  <%- include ../parts/footer.ejs %>
</div>
</body>
</html>