<!DOCTYPE html>
<html lang="ua">
<%- include ../parts/head.ejs %>
<body>
<div class="container">
    <!-- Start header -->
    <%- include ../parts/header.ejs %>
    <!-- End header -->
    <section>
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="for_us">
               <div id="page_container">
                <div id="content_title">
                    <h2><%= ifUInerest %></h2>
                </div>
                <div id="page_content">
                     <p><a href="#"><%= watchExamples %></a></p>
                    <p><a href="about_us_page.ejs"><%= callUs %></a></p>
                     <p><%= recall %></p>
                </div>
            <form id="coments" method="post" action="/form_handler" name="vata">

                    <label><Br>
                        <%-fo%>
                        <textarea name="comment" cols="72" rows="10" id="Comm" onchange=""></textarea></label><br>
                <label><Br>
                        <%-fo_1%>
                        <input type="reset" value="<%= clear %>" id="reset"></label>

            </form>


                </div>
            </div>
          <script  type="text/javascript" src="../../js/pages/comment.js"></script>

            <div id="aaaa">
                <%- com %>

                <div id="alll">

                    </div>


            </div>

</div>
            <!-- Start right side block -->
            <%- include ../parts/right_side.ejs %>
            <!-- End right side block -->
        </div>



    </section>

    <%- include ../parts/footer.ejs %>
</div>
</body>
</html>