<!DOCTYPE html>
<html lang="ua">
<%- include ../parts/head.ejs %>
<body>
<div class="container">
  <!-- Start header -->
<%- include ../parts/header.ejs %>
  <!-- End header -->
  <section>
    <div class="row">
      <!-- Start article -->
        <%- include ../parts/article.ejs %>
      <!-- End article -->
      <!-- Start right side block -->
        <%- include ../parts/right_side.ejs %>
      <!-- End right side block -->
    </div>

  </section>
    <%- include ../parts/footer.ejs %>
</div>
</body>
</html>